.game2grid{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* grid-auto-rows: auto; */

}

.game2cell{
    
    border: 1px solid black;
    margin: 0;
    padding: 0;
    height: 50px;
    aspect-ratio: 1/1;
}
.game2buttons {
    margin: 0;
    padding: 0;
}