.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*NAVBAR + LINKS fra CHATGPT*/
.navbar {
  display: flex;
  flex-direction: column;
  padding: 10px 20px; /* adjust padding as needed */
  align-items: center;
}

.navlinks {
  display: flex; 
  align-items: center;
  
}

.navlinks a,
.navlinks button {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
  border: none; /* remove button border */
  background-color: transparent; /* make button background transparent */
  cursor: pointer; /* change cursor to pointer on hover */
}

.navlinks a:hover,
.navlinks button:hover {
  color: #00ff40;
}
.navlinks a:active,
.navlinks button:active {
  transform: scale(0.9); /* reduce size of the button when clicked */
}



/*HOME*/
.home {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home h1 {
  margin-left: 30px;
  margin-right: 30px;
}
.content {
  width: 100%;
  background-color: thistle;
  
 
  display: flex;
  justify-content: center;
}

.gjestebok{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  padding: 10px;
}
/* HELLOCONTENT */

.displayhellos{
  
  text-align: center;
  display: flex;
  flex-direction: column;
}

.singlehello{
  width: 370px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
}
.singlehello p {
  margin: 0;
  padding: 5px;
}

/* WRITEHELLO */
.writehellos {
 
  text-align: center;
  display: flex;
  flex-direction: column;
}
.writehellos p {
  margin-bottom: 3px;
  margin-top: 5px;
}
.inputhello {
  height: 100px;
  width: 300px;
  border-radius: 5px;
}
.inputname {
  width: 300px;
  height: 20px;
  border-radius: 5px;
}
.inputbutton {
  margin-top: 15px
}

.input-container {
  width: 370px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  background-color: beige;
}
/*ABOUT ME*/
.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.aboutmecontent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutmetext{
  margin-right: 70px;
  margin-bottom: 20px;
}


