/* .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 10px 20px; 
  align-items: center;
}

.navlinks {
  display: flex; 
  align-items: center;
  
}

.navlinks a,
.navlinks button {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
}

.navlinks a:hover,
.navlinks button:hover {
  color: #00ff40;
}

.navlinks button:active {
  transform: scale(0.9); 
}
.navlinks a:focus{
  font-weight: bold;

}



.home {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home h1 {
  margin-left: 30px;
  margin-right: 30px;
}
.content {
  width: 100%;
  background-color: thistle;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.gjestebok{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  padding: 10px;
}


.displayhellos{
  
  text-align: center;
  display: flex;
  flex-direction: column;
}

.singlehello{
  width: 370px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
}
.singlehello p {
  margin: 0;
  padding: 5px;
}


.writehellos {
 
  text-align: center;
  display: flex;
  flex-direction: column;
}
.writehellos p {
  margin-bottom: 3px;
  margin-top: 5px;
}
.inputhello {
  height: 100px;
  width: 300px;
  border-radius: 5px;
}
.inputname {
  width: 300px;
  height: 20px;
  border-radius: 5px;
}
.inputbutton {
  margin-top: 15px
}

.input-container {
  width: 370px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  background-color: beige;
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.aboutmecontent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutmetext{
  margin-right: 70px;
  margin-bottom: 20px;
}



.chuckfacts{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
  max-width: 500px;

}
.chuckfacts button {
  padding: 5px;
  width: fit-content;
}

.chuckfacts button:hover {
  background-color: #b36a26;
}



   */