.grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    /* grid-template-rows: repeat(20, 1fr); */
    
    border: 3px solid black;
    /* background-color: rgb(43, 43, 43); */
    /* padding-bottom: 6px; */
    /* padding-right: 6px;
    padding-top: 0px; */
   
    aspect-ratio: 1/1;
    /* white-space-collapse: 1; */
    width: 100%;
    margin-bottom: 10px;
}

.cell{
    
  /* border: solid black 1px; */
    /* height: fit-content; */
   /* overflow-y: hidden; */
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    
}
/*  */

/* 3 på rad */

  .gamegrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
  }
  .griditem{
    text-align: center;
    border: 1px solid black;
    /* height: 100px; */
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
  }